@font-face {
    font-family: "Scania Sans";
    src: url(../fonts/ScaniaSansSemiCondensed-Bold.woff2);
}

/*verdana */
@font-face {
    font-family: "Verdana";
    src: url(../fonts/verdana.ttf);
}

@font-face {
    font-family: "Verdana Bold";
    src: url(../fonts/verdanab.ttf);
}

/* tinymce, no usages at the moment */
@font-face {
    font-family: "Tinymce";
    src: url(../fonts/tinymce.ttf);
}

@font-face {
    font-family: "Tinymce Small";
    src: url(../fonts/tinymce-small.ttf);
}

/* custom fonts, no usages at the moment */
@font-face {
    font-family: "Coop";
    src: url(../fonts/COOPBL.TTF);
}

@font-face {
    font-family: "Fontawesome";
    src: url(../fonts/fontawesome-webfont.ttf);
}

@font-face {
    font-family: "Myriad";
    src: url(../fonts/MyriadWebPro.ttf);
}