$main-bg: linear-gradient(black, #EBEBEB, white) fixed;
$container-bg: linear-gradient(#8F8F8F, #686868, #656565);
$main-text-color: white;
$order-button-bg: linear-gradient(#ABBE67, #8DA23F, #829440);
$main-font: Verdana Bold, serif;
$info-font: Verdana, serif;
$font-smaller:  smaller;
$font-bold: bold;
